<!doctype html>
<html lang="en">
<head>
    <title>Welcome</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    <link href="/js/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

</head>
  <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                      <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="logout">Logout</a>
                  </li>

              </ul>
          </div>
      </nav>
      <section class="ftco-section">
          <div class="container">

              <div class="row justify-content-center">
                  <div class="col-md-6 text-center mb-5">
                      <h2 class="heading-section">Welcome</h2>
                  </div>
                  <div class="col-md-12 col-lg-10">
                      <div class="wrap d-md-flex">

                          <div class="p-lg-5">
                              <div class="d-flex">
                                  <div class="w-100">
                                      <h5 class="mb-2">Welcome back,  <%=name%>  </h5>
                                      <h3>Profile:</h3>
                                      <p>Gender: <%=gender%>  </p>
                                      <a>Mobile : <%=mobile%>  </a>
                                      <br />


                                  </div>
                              </div>

                          </div>
                          <div class="align-self-end p-lg-5">
                               
                          <input type="submit" class="form-control btn-primary " data-toggle="modal" data-target="#deleteModal" value="Delete this account">

                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

      <!-- Delete Modal-->
      <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">×</span>
                      </button>
                  </div>
                  <div class="modal-body">Are you sure you want to delete the account?</div>
                  <div class="modal-footer">
                      <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                      <a class="btn btn-primary" href="/deleteAcct">Delete</a>
                  </div>
              </div>
          </div>
      </div>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/popper.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/main.js"></script>

  </body>
</html>

